.thumb{
  width: 242px!important;
  height: 242px!important;
  transform:none!important;
  top:0!important;
  left:0!important;
}

.gridTile:hover{
  border:solid 2px rgb(0, 134, 151);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  opacity: 1;
}
.gridTile.active{
  opacity: 1;
}
.gridTile{
  height:auto;
  -webkit-border-radius: 10px;
  border-radius:20px;
  border:solid 2px gray;
  opacity: 0.8;
}