.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Search-App{
  padding-top:20px;
  display: inline-block;
  text-align: center;
}
.Search-Form{
  margin-bottom: 2em;
}
input {
  font-size: 20px;
  outline: none;
  border: none;
  border-color: transparent;
  border-bottom: solid 1px gray;
  margin-bottom: 2em;
}

ul {
  padding: 0px;
}

ul li {
  list-style-type: none;
}

.Artist-List-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
.Artist-List-container > div {
  width: 50%;
  padding: 10px;
}
.Artist-List-container > div:first-child {
  margin-right: 20px;
}

.Artist-logo{
  width: 200px;
}
.Album-Detail-Container{
  margin-bottom: 4em;  
}
.dv-star-rating{
  float: left;
  margin-left: 2px;
}
.Album-Detail-Container ol{
  text-align: left;
}